/* Element formatting */

body {
  margin: 0;
}

.primary-button {
  background-image: linear-gradient(to right, #45B649, #DCE35B);
}

.primary-button:hover {
  background-image: linear-gradient(to right, #3EA442, #C6CC52);
}

#nav-container {
  margin: 10px;
  background-color: #FFFFFF;
}

#nav-container a, #nav-container img {
  margin: 10px;
}

#nav-container svg {
  margin: 5px;
}

#nav-container .primary-button {
  width: 336px;
}

#shade-container {
  width: 100%;
  height: 100%;
  background-color: #808080;
  opacity: 0.8;
}

#login-container {
  width: 440px;
}

#login-container input {
  width: 320px;
}

#secondary-button {
  width: 333px;
  /* Code gathered from
     https://stackoverflow.com/questions/5706963/possible-to-use-border-radius-together-with-a-border-image-which-has-a-gradient
     at 2024.03.07 */
  background-image: linear-gradient(#FFFFFF, #FFFFFF), linear-gradient(to right, #45B649, #DCE35B);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

#secondary-button:hover {
  background-image: linear-gradient(#FFFFFF, #FFFFFF), linear-gradient(to right, #3EA442, #C6CC52);
}

#secondary-button:hover p {
  background: linear-gradient(to right, #3EA442, #C6CC52);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#secondary-button p {
  /* Code gathered from
     https://www.geeksforgeeks.org/how-to-create-linear-gradient-text-using-html-and-css/ at
     2024.03.07 */
  background: linear-gradient(to right, #45B649, #DCE35B);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#register-container {
  width: 740px;
}

#register-container input {
  width: 622px;
}

#name {
  width: 640px;
}

#name input {
  width: 291px;
}

#login-container, #register-container {
  padding-bottom: 44px;
  background-color: #FFFFFF;
}

#login-container > *, #register-container > * {
  margin: 10px;
}

#login-container input, #register-container input {
  height: 50px;
  padding-left: 15px;
}

/* Font formatting */

body {
  font-family: "Montserrat", sans-serif;
}

.primary-button {
  color: #FFFFFF;
}

#nav-container a {
  text-decoration: none;
  color: #000000;
}

#nav-container a:hover {
  color: #808080;
}

#login-container input, #register-container input {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}

#login-container div, #register-container div {
  text-align: center;
  font-weight: bold;
}

/* Border formatting */

#nav-container {
  border-radius: 1rem;
}

#secondary-button {
  border: 3px solid transparent;
}

#login-container, #register-container {
  border-radius: 1rem;
}

#login-container input, #register-container input {
  border: 1px solid;
  border-radius: 1rem;
}

#login-container div, #register-container div {
  border-radius: 1rem;
}

/* Positioning */

#shade-container {
  position: fixed;
  top: 0;
  left: 0;
}

#login-container, #register-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Display */

#shade-container {
  display: none;
}

#nav-container, header, nav {
  display: flex;
}

#name {
  display: flex;
}

#login-container, #register-container {
  display: none;
}

/* Flexbox formatting */

#nav-container {
  justify-content: space-between;
}

#nav-container, header, nav {
  align-items: center;
}

#name {
  justify-content: space-between;
}

#login-container, #register-container {
  flex-direction: column;
  align-items: center;
}

#login-container svg, #register-container svg {
  align-self: flex-start;
}

/* Canvas formatting */

#nav-container svg:hover {
  stroke: #808080;
}

/* Cursor display */

.primary-button {
  cursor: pointer;
}

#shade-container {
  cursor: pointer;
}

#nav-container svg:hover {
  cursor: pointer;
}

#secondary-button {
  cursor: pointer;
}
