body {
  display: flex;
  flex-direction: column;

  background-image: url("../img/temp-background-image.jpg");
  background-size: 100%;
}

section {
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

section input {
  height: 50px;
  margin: 2px;

  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;

  border: none;
  border-radius: 0.5rem;
}

h2 {
  font-size: 2rem;
}

.dateField {
  width: 15%;
}

#main-container {
  display: flex;
  flex-direction: column;

  height: 100vh;
}

#textField {
  width: 35%;
}

#side-container {
  flex: 1 0 100%;

  margin: 0;
  background-color: #FFFFFF;
}

#side-container div {
  text-align: center;
}

#icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;
  margin: 2px;
  background-image: linear-gradient(to right, #45B649, #DCE35B);

  border-radius: 0.5rem;
}
