/* Element styling */

.section-div,
.section-input {
  height: 50px;
  margin: 2px;
}

.section-input {
  margin: 2px;
}

.mainContainer {
  height: 100vh;
}

.textField {
  width: 35%;
  height: 50px;
  margin: 2px;
}

.sideContainer {
  margin: 0;
  background-color: #FFFFFF;
}

.info {
  padding: 15px;
}

.icon {
  width: 50px;
  background-image: linear-gradient(to right, #45B649, #DCE35B);
}

.icon:hover {
  background-image: linear-gradient(to right, #3EA442, #C6CC52);
}

/* Font styling */

.label,
.section-input {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

.h2 {
  font-size: 2rem;
}

.side-container > .section-div {
  text-align: center;
}

/* Border styling */

.section-div,
.section-input,
.icon {
  border-radius: 0.5rem;
}

.section-input {
  border: none;
}

/* Positioning */

.section-div {
  position: relative;
}

.section-div > .label {
  position: absolute;
  top: -30px;
}

.section-div:nth-of-type(1) > .label {
  left: 75px;
}

.section-div:nth-of-type(2) > .label {
  left: 21px;
}

.section-div:nth-of-type(3) > .label {
  left: 90px;
}

.section-div:nth-of-type(4) > .label {
  left: 38px;
}

/* Display */

.body {
  display: flex;
}

.section {
  display: flex;
}

.section-div:hover > .label {
  display: block;
}

.label {
  display: none;
}

.mainContainer,
.icon {
  display: flex;
}

/* Flexbox styling */

.body {
  flex-direction: column;
}

.section {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.sideContainer {
  flex: 1 0 100%;
}

.icon {
  justify-content: center;
  align-items: center;
}

