.card {
    display: flex;
    margin: 10px;
    padding: 10px;
    border: 1px solid;
    border-radius: 1rem;
    background-color: #ffffff;
}

.expandedCard {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: 1%;
    margin-top: 0.5%;
    padding: 20px;
    border: 1px solid;
    border-radius: 1rem;
    background-color: #ffffff;
    max-width: 400px;
    min-width: 400px;
    max-height: 650px;
    min-height: 600px;
}

.expandedCard:empty {
    display: none;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cards {
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 80vh;
    max-width: 50%;
    min-width: 45%;
}

.card:hover {
    box-shadow: 2px 2px 2px #000000;
    cursor: pointer;
}

.breadcrumb {
    padding: 0px 10px;
}

.breadcrumb p {
    margin: 1px;
}

.breadcrumb a {
    text-decoration: none;
    color: #000000;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.filter {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 1rem;
    margin: 10px;
    padding: 0 10px;
}

.filter label {
    font-weight: bold;
}

.filter input {
    width: 150px;
    margin: 5px 15px 5px 5px;

    font-size: 1rem;

  border: none;
  border-radius: 1rem;
}



.nokPerDay {
    margin-right: 20px;
    margin-left: 4px;
}