/* Element styling */

body {
  background-image: url("../img/temp-background-image.jpg");
  background-size: 100%;
}

section div {
  height: 50px;
  margin: 2px;
}

section input {
  height: 50px;
}

section > input {
  margin: 2px;
}

#main-container {
  height: 100vh;
}

#textField {
  width: 35%;
}

#side-container {
  margin: 0;
  background-color: #FFFFFF;
}

#icon {
  width: 50px;
  background-image: linear-gradient(to right, #45B649, #DCE35B);
}

#icon:hover {
  background-image: linear-gradient(to right, #3EA442, #C6CC52);
}

/* Font styling */

label {
  font-size: 1.5rem;
  font-weight: bold;
}

section input {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 2rem;
}

#side-container div {
  text-align: center;
}

/* Border styling */

section div {
  border-radius: 0.5rem;
}

section input {
  border: none;
  border-radius: 0.5rem;
}

#icon {
  border-radius: 0.5rem;
}

/* Positioning */

section > div {
  position: relative;
}

label {
  position: absolute;
  top: -30px;
}

section div:nth-of-type(1) label {
  left: 75px;
}

section div:nth-of-type(2) label {
  left: 21px;
}

section div:nth-of-type(3) label {
  left: 90px;
}

section div:nth-of-type(4) label {
  left: 38px;
}

/* Display */

body {
  display: flex;
}

section {
  display: flex;
}

section div:nth-of-type(1):hover label, section div:nth-of-type(2):hover label,
section div:nth-of-type(3):hover label, section div:nth-of-type(4):hover label {
  display: block;
}

label {
  display: none;
}

#main-container {
  display: flex;
}

#icon {
  display: flex;
}

/* Flexbox styling */

body {
  flex-direction: column;
}

section {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

#main-container {
  flex-direction: column;
}

#side-container {
  flex: 1 0 100%;
}

#icon {
  justify-content: center;
  align-items: center;
}
