/* Element styling */

body {
  background-image: url("../img/temp-background-image.jpg");
  background-size: 100%;
}

section input {
  height: 50px;
  margin: 2px;
}

.dateField {
  width: 15%;
}

.timeField {
  width: 5%;
}

#main-container {
  height: 100vh;
}

#textField {
  width: 35%;
}

#side-container {
  margin: 0;
  background-color: #FFFFFF;
}

#icon {
  width: 50px;
  height: 50px;
  margin: 2px;
  background-image: linear-gradient(to right, #45B649, #DCE35B);
}

#icon:hover {
  background-image: linear-gradient(to right, #3EA442, #C6CC52);
}

/* Font styling */

section input {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 2rem;
}

#side-container div {
  text-align: center;
}

/* Border styling */

section input {
  border: none;
  border-radius: 0.5rem;
}

#icon {
  border-radius: 0.5rem;
}

/* Display */

body {
  display: flex;
}

section {
  display: flex;
}

#main-container {
  display: flex;
}

#icon {
  display: flex;
}

/* Flexbox styling */

body {
  flex-direction: column;
}

section {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

#main-container {
  flex-direction: column;
}

#side-container {
  flex: 1 0 100%;
}

#icon {
  justify-content: center;
  align-items: center;
}
